body {
  font-family: "Press Start 2P", sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#gameOptionButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#codeChildButton,
#leaveChildButton,
#startChildButton {
  flex: 1 0 100%;
  margin: 5px;
  height: 100px;
  font-weight: bold;
}

#codeChildButton {
  padding-top: 1%;
  font-size: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#leaveChildButton {
  background-color: red;
}

#startChildButton {
  background-color: blue;
}

#leaveGameLink {
  color: black;
}
#roomCode {
  border: "2px white solid";
  color: black;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: blue;
  height: 10px;
  margin-top: -1%;
  margin-bottom: 1%;
  padding: 20px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  list-style-type: none;
}

nav ul li a {
  padding: 5px 10px;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a.active {
  color: black;
  color: blue;
}

.nav-item a {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  color: blue;
}

form div {
  margin: 1em;
  display: inline-block;
}

#cardComponent {
  margin-top: 2%;
}

#returnHomeButton {
  border: none;
  border-radius: 5px;
  height: 65px;
  width: 100px;
  font-weight: bold;
  background-color: red;
}

#returnHomeButton:focus {
  outline: none;
  box-shadow: none;
}
